.review_score_table {
    td {
        padding: 5px;
    }
    tbody {
        td:first-child {
            font-weight: bold;
            padding-right: 10px;
        }
    }
    thead {
       padding-bottom: 10px;
       display: block;
       border: 0;
    }

    border-collapse: collapse;
}

.field {
    font-size: 11pt;
    margin: 10px;
    width: 70%;
    .tooltips {
        font-style: italic;
        .info;
    }
    p{
        margin-left: 16px;
        font-size: 10pt;
    }
}

li {
    display: inline;
}

.content_wrap {
    width: 90%;
    margin: auto;
}

.left{
    float: left;
}

#reviews {
    width: 90%;
    margin: auto, 3em;
    overflow: hidden;
    .review{
        width: 46%;
        float: left;
        margin: 0.5em;
        padding: 0.5em;
        border-bottom-style: solid;
        border-bottom-color: black;
        border-bottom-width: 0.1em;
    }
}

#review_form {
    width: 90%;
    margin: auto, 3em;
}
