<html>
    <head>
    </head>
    <body>
        <h1>{{ form.title }}</h1>
        {% if form.intro %}
        <p>{{ form.intro }}</p>
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            {% for field in save_form %}
                <div class="fieldWrapper">
                    {% if not field.name == "is_final" %}
                        {{ field.label_tag }} {{ field }}
                    {% endif %}
                </div>
            {% endfor %}
            <input type="submit" value="{{ form.button_text }}">
        </form>
    </body>
</html>
