{% extends 'base.html' %}
{% load build_reviewforms_tags %}

{% block pageJS %}
<script type="text/javascript" src="/static/js/review.js"></script>
<link rel="stylesheet" href="static/css/review.less">
{% endblock %}

{% block content %}
<div class="content_wrap">
<div class="section">
    <h1>Reviews for {{ user }}</h1>
    <hr class="separator"/>
    <div id="select">
        <select>
                <option value="{{ form.id }}">{{ form.title }}</option>
        </select>
    </div>
    {% if final_reviewer or current_user == user %}
    <p><a href="/people/{{ user }}/view_reviews/">View finalized reviews for {{ user }}</a></p>
    <hr class='separator' />
</div>
    {% endif %}
    {% if final_reviewer %}
    <div id="reviews">
        {% if entries %}
            {% if not review_self %}
                <h2>Unofficial Reviews</h2>
                    {% for entry in entries %}
                        <div class="review">
                            <table class="head review_score_table">
                                <tr>
                                    <th> {{ entry.title }} </th>
                                    <th> {{ entry.entry_time }} </th>
                                </tr>
                            <table class="left review_score_table">
                                {% for field in entry.form.fields.all %}
                                    {% if not field.label == "Reviewing" %}
                                        <tr>
                                            <td class="field">{{ field.label }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </table>
                            <table class="right review_score_table">
                                {% for field in entry.fields.all %}
                                    {% if not field.value == user %}
                                        <tr>
                                            <td class="field">{{ field.value }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </table>
                            </table>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% else %}
            <p>No unofficial submitted reviews for {{ user }}</p>
        {% endif %}
    </div>

    {% endif %}

<div id="review_form">
{% if can_add_review %}
    <h2>Review</h2>
    {% if not review_self %}
        {% if save_form %}
            <p>You have an unfinalized review of {{ user }}. Please finish this review and finalize it by checking the final box before submitting</p>
            <form action'' method='post'>
                {% csrf_token %}
                {{ save_form }}
                </br>
                <input id='submit' type='submit' name='submit' value='submit'>
            </form>
        {% else %}
            {% build_reviewform form %}
        {% endif %}
    {% else %}
        <p>You can not review yourself</p>
    {% endif %}
{% endif %}
</div>
</div>
{% endblock %}
