{% extends 'base.html' %}
{% load build_reviewforms_tags %}

{% block pageJS %}
<script type="text/javascript" src="/static/js/review.js"></script>
{% endblock %}

{% block content %}
<div class="section">
    <h1>Reviews for {{user}}</h1>
</div>

<hr class="separator"/>
<div id="select">
    <select>
            <option value="{{ form.id }}">{{ form.title }}</option>
    </select>
</div>


{% if final_reviewer %}
    <p><a href="/people/{{user}}/view_reviews/">View finalized reviews for {{user}}</a></p>
    <hr class='separator' />
    <div id="reviews">
        {% if staff_reviews %}
            {% if not review_self %}
                <h1>Non-Final Reviews</h1>
                {% for entry in staff_reviews %}
                    <table class="head">
                        <tr>
                            <th> {{ entry.title }} </th>
                            <th> {{ entry.entry_time }} </th>
                        </tr>
                    <table class="left">
                    {% for field in form.fields.all %}
                        {% if not field.label == "Is Final" or field.label == "Reviewing" %}
                            <tr>
                                <td>{{ field.label }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </table>
                    <table class="right">
                    {% for field in entry.fields.all %}
                        {% if not field.value == "True" or field.value == "False" or field.value == user %}
                            <tr>
                                <td>{{ field.value }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </table>
                    </table>
                {% endfor %}
            {% endif %}
        {% else %}
            <p>No submitted reviews for {{ user }}</p>
        {% endif %}
    </div>

{% endif %}

{% if can_add_review %}
    {% if not review_self %}
        {% build_reviewform form %}
    {% else %}
        <h1>Review Form</h1>
        <p>You can not review yourself</p>
    {% endif %}
{% endif %}


{% endblock %}
