{% extends 'base.html' %}
{% load build_reviewforms_tags %}

{% block pageJS %}
<script type="text/javascript" src="/static/js/review.js"></script>
{% endblock %}

{% block content %}
<div class="content_wrap">
<div class="section">
    <h1>Reviews for {{ user }}</h1>
    <hr class="separator"/>
    <div id="select">
        <select>
                <option value="{{ form.id }}">{{ form.title }}</option>
        </select>
    </div>
    {% if final_reviewer %}
    <p><a href="/people/{{ user }}/view_reviews/">View finalized reviews for {{ user }}</a></p>
    <hr class='separator' />
</div>
    <div id="reviews">
        {% if staff_reviews %}
            {% if not review_self %}
                <h2>Unofficial Reviews</h2>
                {% for entry in staff_reviews %}
                    <div class="review">
                        <table class="head review_score_table">
                            <tr>
                                <th> {{ entry.title }} </th>
                                <th> {{ entry.entry_time }} </th>
                            </tr>
                        <table class="left review_score_table">
                        {% for field in form.fields.all %}
                            {% if not field.label == "Reviewing" %}
                                <tr>
                                    <td class="field">{{ field.label }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </table>
                        <table class="right review_score_table">
                        {% for field in entry.fields.all %}
                            {% if not field.value == user %}
                                <tr>
                                    <td class="field">{{ field.value }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </table>
                        </table>
                    </div>
                {% endfor %}
            {% endif %}
        {% else %}
            <p>No unofficial submitted reviews for {{ user }}</p>
        {% endif %}
    </div>

    {% endif %}

<div id="review_form">
{% if can_add_review %}
    <h2>Review</h2>
    {% if not review_self %}
        {% if save_form %}
            <p>You have an unfinalized review of {{ user }}. Please finish this review and finalize it by checking the final box before submitting</p>
            <form action'' method='post'>
                {% csrf_token %}
                {{ save_form }}
                </br>
                <input type='submit' name='submit' value='submit'>
            </form>
        {% else %}
            {% build_reviewform form %}
        {% endif %}
    {% else %}
        <p>You can not review yourself</p>
    {% endif %}
{% endif %}
</div>
</div>
{% endblock %}
