{% extends 'base.html' %}

{% block pageJS %}
<script type="text/javascript" src="/static/js/review.js"></script>
{% endblock %}

{% block content %}

<div class='section'>
    <h1>Reviews for {{ user }}</h1>
</div>
<hr class='separator' />
{% if final_reviewer %}
<p><a href="/people/{{ user }}/review/">Edit/Create a review for {{user}}</a></p>
<hr class='separator' />
<div id="reviews">
    {% for entry in final_reviews %}
            <table class="head">
                <tr>
                    <th> {{ entry.title }} </th>
                    <th> {{ entry.entry_time }} </th>
                </tr>
            <table class="left">
            {% for field in form.fields.all %}
                    <tr>
                        <td>{{ field.label }}</td>
                    </tr>
            {% endfor %}
            </table>
            <table class="right">
            {% for field in entry.fields.all %}
                    <tr>
                        <td>{{ field.value }}</td>
                    </tr>
            {% endfor %}
            </table>
            </table>
    {% endfor %}
{% endif %}
</div>
{% endblock %}
